.outer-section {
  background: linear-gradient(90deg, #002f6c 0%, #00509e 100%);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  margin: 0;
}

.referral-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 2rem;
  color: #333;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0; 
}

.referral-content {
  display: flex;
  align-items: center;
}

.referral-image {
  width: 6rem;
  height: auto;
  margin-right: 1.5rem;
}

.referral-text h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 0.5rem;
}

.referral-text p {
  font-size: 15px;
  color: #777;
}

.referral-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dismiss-btn {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.dismiss-btn:hover {
  background-color: #f0f0f0;
}

.refer-btn {
  background-color: #4f7df7;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(79, 125, 247, 0.5);
}

.refer-btn:hover {
  background-color: #3e6dde;
}
